name: release-charts

on:
  push:
    tags:
      - "chart-*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Setup Helm
        uses: azure/setup-helm@v4

      - name: Package Charts
        run: ./scripts/package.sh
