name: security

on:
  pull_request:
  schedule:
    - cron: "30 2 * * 1"

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Trivy Repo Scan
        uses: aquasecurity/trivy-action@0.34.1
        with:
          scan-type: fs
          scan-ref: .
          format: table
          severity: CRITICAL,HIGH
          ignore-unfixed: true
          exit-code: '1'
