replicaCount: 1
image:
  tag: "1.0.0-dev"
resources:
  requests:
    cpu: 150m
    memory: 256Mi
  limits:
    cpu: 300m
    memory: 384Mi
autoscaling:
  enabled: false
networkPolicy:
  enabled: false
